
.instruction {
  font-family: helvetica;
  position: absolute; 
  top: 0px;
  left: 50px;
  color: #696969;
}

h1 {
  font-weight:normal;
  font-size:70px;
}

h2 {
  font-weight :lighter;
  font-size:30px;
  position:absolute;
  top: 130px;
}

#c {
	position: absolute;
	top: 200px;
	left:50px
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;

	body {
		height 100px;
		
	}
}